<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railsway_station.title %>
</p>

<%= link_to 'Edit', edit_railsway_station_path(@railsway_station) %> |
<%= link_to 'Back', railsway_stations_path %>
