<h1>Routes#index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>


<%= link_to 'New route', admin_new_route_path %>