<p id="notice"><%= notice %></p>
 
 <h1>Carriages</h1>
 
 <table>
   <thead>
     <tr>
       <th>Id | </th>
       <th>Type of Carriage | </th>
       <th>Top Place | </th>
       <th>Bottom Places | </th>
       <th>Train Number | </th>
       <th>Carriage Number | </th>
       <th colspan="3"></th>
     </tr>
   </thead>
 
   <tbody>
     <% @carriages.each do |carriage| %>
       <%= render partial: 'carriage', object: carriage %>
     <% end %>
   </tbody>
 </table>

 <%= link_to 'New Carriage', new_carriage_path %>