
<ul class='nav'>
    <li><%= link_to "Trains", trains_path %></li>
    <li><%= link_to "Routes", routes_path %></li>
    <li><%= link_to "Railway Stations", railway_stations_path %></li>
    <li><%= link_to "Carrigae", carriages_path %></li>
</ul>